@{
    ViewBag.Title = "About Mason";
}

<br />

<h2 class="green">About</h2>

<br />

<h4 class="green">We Were Made to Make it Better</h4>

<img src="~/Images/GMU_statue.jpg" alt="GMU Campus Entrance" height="427" width="400" class="right" />
<div id="content">
    <p>Our identity was forged in 1972 on Virginia's strong ideals of academic excellence and service. Today, that spirit energizes us as a leader in scholarship and research; preparing graduates to meet the complex needs of a rapidly changing world.</p>

    <h4 class="green">Our Motto</span></h4>
    <p>Freedom and Learning</p>

    <h4 class="green">Our Mission</h4>
    <p>A public, comprehensive, research university established by the Commonwealth of Virginia in the National Capital Region, we are an innovative and inclusive academic community committed to creating a more just, free, and prosperous world.</p>

    <h4 class="green">The Mason Graduate</h4>
    <ul>
        <li>An engaged citizen.</li>
        <li>A well-rounded scholar.</li>
        <li>Prepared to act.</li>
    </ul>
</div>