@model MasonDatabase.Models.Application

@{
    ViewBag.Title = "Academics";
}



<h2 >Academics</h2>

<br />

<p class="lead">Mason will nurture your talents, expand your knowledge, and prepare you to take advantage of limitless possibilities. There's no regimented road to success. Forge a path that fulfills your dreams.</p>

<h3 class="green">Discover Who You Are, and Who You Want to Be</h3>

<img src="~/Images/academics.jpg" alt="GMU Campus with students" height="300" width="447" class="right" />

<p> This is one of the best times of your life — endless prospects lie ahead. </p>

<p>It's a time to explore the unfamiliar, to visit new worlds, to find that your passion might be something you'd never imagined.</p>

<p>That's where we come in. Mason's academic programs aren't just courses of study; they're pathways to the accomplishments you want to make, the global problems you want to solve, and the life you want to live.</p>

<p>  Our top-rated faculty prepare you to compete with the best in the world through experiential learning, research projects, and connections to internships. You'll also study in state-of-the-art classrooms and labs.</p>

<p>    In addition, our Executive and Professional Education programs are designed for working adults eager to enhance their careers.</p>

<p>   Join our diverse global community. We'll help you become the person you want to be.</p>

<h3 class="green">Mason Offers:</h3>

        <ul>
            <li><a href="https://www2.gmu.edu/academics/undergraduate-programs" target="_blank">78 undergraduate degrees</a>, with a variety of concentrations..</li>
            <li><a href="https://www2.gmu.edu/academics/graduate-programs" target="_blank">94 master's degrees.</a></li>
            <li><a href="https://www2.gmu.edu/academics/graduate-programs" target="_blank">38 doctoral degrees.</a></li>
            <li><a href="https://www.law.gmu.edu/academics/degrees/" target="_blank">A law school.</a></li>
        </ul>
