
@{
    ViewBag.Title = "ApplicationReceived";
}

<h2>Application Received</h2>

<p>Thank you for submitting your application to George Mason University. This page is to acknowledge that we have received an electronic copy of your application and it is will be processed as soon as possible.      </p>
<p>As we get to know you through your application, we also invite you to get to know us. We encourage you to visit us <a href="https://gmu.edu">online</a> for up-to-date information about</p>

<p>Thank you again for applying. We look forward to reviewing your application and getting to know you better. If you have other concerns or additional questions, please do not hesitate to contact the Office of Admissions. </p>

<h3>Office of Admissions</h3>
<h4 class="green">Email/Phone</h4>
<p>
    E-Mail:   <a href="mailto:admissions@gmu.edu"><span class="glyphicon glyphicon-envelope"></span>&nbsp;admissions@gmu.edu</a><br />
    Tel: <a href="tel: 703-993-2000"><span class="glyphicon glyphicon-earphone"></span> &nbsp; 703-993-2000</a>
</p>

<h4 class="green">Mailing Address</h4>
<p>George Mason Univeristy<br /> Office of Admissions <br /> 4400 University Drive, MSN 3A4 <br /> Fairfax, VA 22030 </p>

<h4 class="green">Office Location and Hours</h4>
<p>213 Johnson Center <br /> George Mason University <br /> Fairfax, Virginia</p>

<h4>Office Hours</h4>
<p>Monday - Friday <br /> 8:30 a.m. - 5 p.m.</p>

<p>Sincerely</p>
<p>GMU Office of Admissions</p>

