@model MasonDatabase.Models.Application

@{
    ViewBag.Title = "FinancialAid";
}

<h2>Financial Aid</h2>

<p class="lead">Many Mason students receive some kind of financial aid, such as grants, scholarships, work-study employment, or loans.</p>

<p>To assist you with the financial aid process, Mason’s Office of Student Financial Aid has a team of dedicated professionals available to help you and your family. 
    The Financial Aid staff will work with you annually as you re-apply for financial assistance each year you attend Mason.</p>

<p>If you’re interested in applying for financial aid, complete the <a href="https://studentaid.gov/h/apply-for-aid/fafsa"> Free Application for Federal Student Aid (FAFSA)</a> 
    and submit it to the federal processor by February 1, or March 1 for transfer students.  For more information, please visit 
    <a href="https://www2.gmu.edu/financial-aid/how-apply-financial-aid">How to Apply for Financial Aid</a>.</p>

<h3 >How to apply for Financial Aid</h3>

<h4 class="green">Undergraduate Students</h4>

<p>For priority consideration of limited State and Institutional grant funds, undergraduate students must submit their FASFA by February 1, (March 1st for transfer students) and all 
    required other documents by March 1st, each year. Awarding for prospective freshmen and new transfer students will begin in early January. Returning students will be awarded in June, 
    after the annual Satisfactory Academic Progress review at the end of the spring term.</p>

<h4 class="green">Graduate Students</h4>
<p>Newly accepted graduate students will be notified about aid on a rolling basis as they complete their application for admissions.  Continuing graduate students will be notified of aid 
    eligibility for the following year in early June. </p>

<h4 class="green">Helpful Links</h4>
<ul>
    <li><a href="https://www2.gmu.edu/safe-return-campus/covid-19-student-financial-aid-faqs">Covid 19 Financial Aid FAQs</a></li>
    <li><a href="https://learn-us-east-1-prod-fleet01-xythos.content.blackboardcdn.com/blackboard.learn.xythos.prod/5a30bcf95ea52/38862985?X-Blackboard-Expiration=1637701200000&X-Blackboard-Signature=xFZLJ9G2YU5D%2BkkGLxpLN5wYJVdMr1LxmsxLdpupNlE%3D&X-Blackboard-Client-Id=200078&response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Financial_Aid_Handbook.pdf&response-content-type=application%2Fpdf&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEID%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQCv9eTZrwpqjA8zmT0FJmGbNUnzefQNssg1SNLUVDcznQIhAMws3HTc4Y1BOMDCW0tmz%2F1K%2BLMSKwJu3GmFflZJyn5TKvoDCEgQABoMNTU2OTAzODYxMzYxIgz76HAd0AM%2B5i%2Fkoqsq1wPJyia8EDV2sbwQKLH2SuQV4NQOYRkRtQBi83ZWz3%2B8SdHtKpZN1%2Fl4kn5TWtS3NCgVuomK%2FVSNBDIRrRPdlrv1%2BZdgwNn%2F6yIhouGeZLoHAMUQyuL7b9hS%2B%2BEWpBG6gzM7snEC6tszTciaVyB8RxFmZR0Go3d0NC6MdAh9s5gEvy3iNQmIdWY7Ml%2BXjDg4rGjVXazNe23azcANU%2FZln3XoGTCG%2B4LQM0uuUwusW54N9W9C%2Bpk7o90L%2BFX6Y3wWQAYGyLTLDhrDXlhtC6Kvrf%2BeHh1QQLrjm0aebhtVtNM3BJEstIEE0UyS20Ha7LW0HviEeU3D0esWh36PNu2vBV6CxI2BfWkLHEbuilPptR%2BBlNdv8catHmFtPmPWgjNNg%2B7cb4a5ZX5sFqI5Hf7CdMQsKGKdteyVA2znhPzuMt%2FBXda4FXW5TvI1JolFznJLM94RWhf1lK1uYDFAvGWO%2F7Qqtm2YDwJoDR6U%2FipzD7nuCLaEC3bslrpGHhBh5tzrQMcI%2BUERIwQvLm4K%2BzLwT6ZWjUABOQbNrrhJiCv%2FvkiChzDmpuBZna12t%2BHtELXq7W8KNkC9GXFpkTei2%2Fppw6XFuJlIJhWbOvmw3BbOZT0YjLpeqvtGescwi470jAY6pAHq1gLGGnfWzvFW00KQV6qfq2e57M0qwRjyUBDP5NGUCM2Rv0L276Tcoj5CkkjAaAsVF8k3Vf30f%2BBv02CFFvtr7glKQudlgkj4EdO7gArehjvIH9MmegDctibnR1jYVHoCSgaQaB4kWR0yvC3rD9QJFApbql1j8q8rZ159wfKANEYRtuu0MUTGbXfBCISCGUDozqMCzAt5FE5%2BI9HeNDOSuH3hKg%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20211123T150000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=ASIAYDKQORRY63XDYONW%2F20211123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=e0622edb676ed1fe422f8ccc324a1a69c3b6b65617c2c7aecae2acdf339ea4c7">Financial Aid Handbook</a></li>
    <li><a href="https://www2.gmu.edu/financial-aid/patriot-forms-verification">Patriot Forms</a></li>
</ul>