@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>George Mason University</h1>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Apply Now</h2>
        <p>
            text?.
        </p>
        <p><a class="btn btn-default" href="~/Views/Applications/Create.cshtml">Apply Now &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Financial Aid Info</h2>
        <p>Test.</p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/financial-aid">Learn more &raquo;</a></p>
    </div>
   

</div>
<img src="~/Images/GMU_main_page.jpg" alt="GMU Campus Entrance" class="right" />
<div>

    <p class="lead">As Virginia’s largest public research university, George Mason University is here to provide you not only a path to your degree, but a college experience like no other. </p>
    <p>
        Mason offers over 200 degrees and numerous minors and certificate programs so you can customize your education to meet your career and personal goals. Our top priority is to provide students with a transformational learning experience that helps them grow as individuals, scholars and professionals.

    </p>
    <p class="lead">A Location that Sets Us Apart. </p>
    <p>
        Mason’s prime location in Fairfax, Virginia, just 15 miles outside of Washington, D.C., gives you the best of both worlds. You’ll enjoy all the benefits of living near a vibrant and active city, not to mention the nation's capital, while also feeling safe and right at home at one of the largest and most beautiful residential campuses in Virginia.

        Mason's connection to D.C. doesn't end with our location. Our ties within the federal government, high-tech, international NGO, and global business communities are unparalleled. Through these connections at Mason, you're likely to gain experience in the field of your choice while studying as an undergrad.
    </p>
</div>