@model MasonDatabase.Models.Application

@{
    ViewBag.Title = "Application Denied";
}

<h2>Your Application has been Denied</h2>

<p>We regret to inform you that you do not meet the minimum GPA and/or combined SAT requirements.  For admission to George Mason University, your GPA must be 3.0 or greater, and your combined Math and Verbal SAT score must be greater than 1000. </p>

<p>If you have any questions, please contact the office of admissions.</p>

<h3>Office of Admissions</h3>
<h4 class="green">Email/Phone</h4>
<p> E-Mail:   <a href="mailto:admissions@gmu.edu"><span class="glyphicon glyphicon-envelope"></span>&nbsp;admissions@gmu.edu</a><br />
Tel: <a href="tel: 703-993-2000"><span class="glyphicon glyphicon-earphone"></span> &nbsp; 703-993-2000</a></p>

<h4 class="green">Mailing Address</h4>
<p>George Mason University<br /> Office of Admissions <br /> 4400 University Drive, MSN 3A4 <br /> Fairfax, VA 22030 </p>

<h4 class="green">Office Location and Hours</h4>
<p>213 Johnson Center <br /> George Mason University <br /> Fairfax, Virginia</p>

<h4>Office Hours</h4>
<p>Monday - Friday <br /> 8:30 a.m. - 5 p.m.</p>
